
.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        'nav nav nav nav'
        'main main main main'  
    
        
        'footer footer footer footer';
    font-family: 'Raleway', sans-serif;

}
        
            .grid > div{
            padding: 1em;
            }

            .nav{
            grid-area: nav;
            vertical-align: inherit;
            font-family: 'Raleway', sans-serif;
                
            }
            
           .main {
                grid-area: main;
             margin: 1em;   
            }
            
.component-row {
	height: 200px;
	text-align: center;
}

.component-col {
	color: white;
	background-color: #907ad6;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.component-col:hover {
	background-color: #3b4a99;
}

#play {
    height: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.modal-title {
	font-family: "Oswald", Helvetica, sans-serif;
	margin: auto;
}

.modal-body {
	padding: 40px;
}