
.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        'nav nav nav nav'
        'dashboard dashboard dashboard dashboard'
        'hlesson hlesson hlesson hlesson' 
        'hoverview hoverview hoverview hoverview' 
        
        'footer footer footer footer';
    font-family: 'Raleway', sans-serif;

}
        
            .grid > div{
            
            }

            .nav{
            grid-area: nav;
            vertical-align: inherit;
            font-family: 'Raleway', sans-serif;
                
            }
            
           .main {
                grid-area: main;

            }
            
            .dashboard {
                grid-area: dashboard;
                
            }
            
            .hlesson {
                grid-area: hlesson;
                margin: 1em;
            }
            
            .hoverview {
                grid-area: hoverview;
            margin: 1em;
            }
            
            .hpartners {
                grid-area: hpartners;
                
            }

.profilecontainer img {
 height: 60px;
    
}

.progress {
    height: 4em;
    background-color: #fafafa;
    
    margin: .5em;

}

#progtop {
    color: white;
    background-color: #71c5ff;
}

#prog1 {
    color: white;
}

.progress-bar {
    
    font-size: 1.5em;
    color: black;
    padding-left: 1.1em;
    
}

.list-group .active {
    background-color: #1186c5;
}

#prog1, prog4 {
    background-color: #907ad6;
 
}

#prog2, prog5 {

    background-color: #dabfff;
}

#prog3, prog6 {
    background-color: #71c5ff;
}


.container {
    padding: 2em;
}