.profilecontainer {
    float: right;
}

.progress-bar {
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        'nav nav nav nav'
        'dash1 dash2 dash3 dash4'  
        'hlesson hlesson hlesson hlesson' 
        'hoverview hoverview hoverview hoverview' 
        'hpartners hpartners hpartners hpartners'
        'footer footer footer footer';
    font-family: 'Raleway', sans-serif;

}
        
            .grid > div{
            padding: 1em;
            }

            .nav{
            grid-area: nav;
            vertical-align: inherit;
            font-family: 'Raleway', sans-serif;
                
            }
            
           .main {
                grid-area: main;
                background-color:#ef9409;
            }
            
            .aside {
                grid-area: aside;
                background-color:skyblue;
            }
            
            .hlesson {
                grid-area: hlesson;
                background-color:mediumaquamarine;
            }
            
            .hoverview {
                grid-area: hoverview;
                background-color:antiquewhite;
            }
            
            .hpartners {
                grid-area: hpartners;
                background-color:deeppink;
            }

