@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
    
    #hide{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
    
    #hide{
        display: none;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
    
    #hide{
        display: none;
    }
}
          
.logopadding {
    margin: 10px;
}

.bg-light {
    background-color:#fff;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: 
      "main aside"
}
.grid-item {
  font-size: 30px;
  text-align: center;
}


        
          

            .nav{
            grid-area: nav;
            vertical-align: inherit;
            font-family: 'Raleway', sans-serif;
                
            }
            

           .main {
                grid-area: main;
            }
            
            #aside {
                grid-area: aside;
                
            }
            
            .hlesson {
                grid-area: hlesson;
                
            }
            
            .hoverview {
                grid-area: hoverview;
                
            }
            
            .hpartners {
                grid-area: hpartners;
                
            }



                

.form-body {
    background-color: #fff;
    position: relative;
    width: 100%;
    padding: 40px;
    text-align: center;
    border-radius: 6px;
}
.final-login {
    border-bottom: 0;
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: center;
}
.final-login li{
    width:50%;
}
.head-login a {
    text-align: center;
}
.head-register a {
    text-align: center;
}
.final-login li a {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    font-size: 17px;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    border: 0;
}
.final-login li:not(.active) a {
    color: #bababa;
}
.nav>li>a:hover {
    background-color: transparent;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
form {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    height: 294px;
    text-align: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #fff;
}
.register {
    height: 256px;
}
.form-control {
    border: 2px solid #ccc;
    color: #222;
}
.form-control::placeholder {
    color: #ccc !important;
}
.form-control:focus {
    border: 2px solid #f77750 !important;
}
.form-control {
    padding: 10px;
    padding-left: 10px;
    color: #ff764c !important;
}
.accaunt-name {
    margin-bottom: 3px !important; 
} 
.accaunt-email {
    margin-bottom: 11px;
}
input {
    box-shadow: none!important;
}
input::-webkit-input-placeholder {
    text-shadow: none;
}
label {
    color: #989898;
}
span.fa {
    position: relative;
    left: 15px;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}
.checkbox-main {
    margin-top: -16px !important;
}
.checkbox-main input[type="checkbox"]:checked + label::before {
    background-color: #f77750;
    border-color: #f77750; 
}
.checkbox-main input[type="checkbox"]:checked + label::after {
    color: #fff; 
    text-align: center;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    left: 0;
    margin-top: 15px;
    margin-right: 5px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}
.checkbox label::after {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    left: 19px;
    top: -3px;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 17px;
    color: #555555;
}
button {
    color: #fff;
}
.btn-lgn {
    background-color: #f77750 !important;
    color: #fff;
    padding: 6px 60px !important;
    margin-bottom:10px;
}
.btn:hover {
    color: #fff;
}
.btn-rgstr {
    background-color: #ff764c !important;
    color: #fff;
    padding: 6px 60px !important;
}
.or {
    display: block;
    padding-top: 19px;
}
.or a {
    color: #000;
}
.social-login {
    padding-left: 0px;
    padding-right: 0px;
    border-top: 1px solid #ccc;
}
.social-login span {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}
.social-login ul {
    text-align: center;
}
.block ul {
    padding-bottom: 50px;
    text-align: center;
}
.social-login ul li:last-of-type {
    float: center;
}
.social-login.block ul li:last-of-type {
    width: 200px;
}
.block ul li:first-of-type {
    padding-bottom: 20px;
}
.block .facebook .btn-sm {
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
}
.facebook .btn-sm {
    padding: 5px 12px;
    text-align: center;
}
.facebook>.btn:first-child {
    background-color: #3f538c;
}
.facebook>.btn:last-of-type {
    background-color: #415797;
}
.block .facebook>.btn:last-of-type {
    padding: 5px 20px;
}
.block .twitter-plus>.btn-sm {
    padding: 6px 12px;
    font-size: 14px;
}
.twitter-plus>.btn-sm {
    padding: 5px 12px;
}
.twitter-plus>.btn:first-child {
    background-color: #38A1F3;
}
.twitter-plus>.btn:last-of-type {
    background-color: #38A1F3;
}
.block .twitter-plus>.btn:last-of-type {
    padding: 5px 20px;
}


.col-xs-12 {
   
}

.footer {
  grid-area: hpartners;
  width: 100%;
  position: relative;
  height: auto;
  background-color: #3b4a99;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: ghostwhite;
  opacity: 0.5;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
    
    #hide{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
    
    #hide{
        display: none;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
    
    #hide{
        display: none;
    }
}
          











*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
  min-width: 100%;
  min-height: 100%;
    background-repeat: no-repeat;
    font-size: 16px;
    color: #222;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 2px;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],input[type="email"],input[type="number"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('https://goo.gl/ySV7DK');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

.right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
}

button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin.facebook {
    background: #32508E;
}

button.social-signin.twitter {
    background: #55ACEE;
}

button.social-signin.google {
    background: #DD4B39;
}
footer {
    color: white;
    font-family: Ubuntu;
    font-size: 20px;

}
#ftext{
    font-family: Lobster, cursive;
    color: yellow;
    font-size: 45px;
}

@media only screen and (min-width: 1001px) {
  
    .grid-container {
        grid-template-columns: 60% 40%;
        grid-template-areas: 
          "main aside"
    }
    
}

@media only screen and (max-width: 1000px) {
  
    .grid-container {
        grid-template-columns: 80% 20%;
        grid-template-areas: 
          "main ."
          "aside ."
    }
    
}

@media only screen and (max-width: 600px) {
  
    #main > img {
        display:none;
    }
    
    .grid-container {
        grid-template-columns: 100%;
        grid-template-areas: 
          "main"
          "aside"
    }
    
}

/*TOP OF REGISTRATION FORM*/
/* Add padding to containers */
.homeregistration {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
            /*END OF REGISTRATION FORM*/
